@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MrCoins System</h1>
</div>

<a class="btn btn-primary rounded" href="~/Account/Login">Login</a>
<br />
@section Scripts{

    
}

